{
      "2220": {
            "algorithms": [
                  2,
                  12
            ],
            "clinic_id": "2"
      },
      "2246": {
            "algorithms": [
                  1,
                  4,
                  3,
                  2,
                  11
            ],
            "clinic_id": "804"
      }
}