<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>Редактирование сценария</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
         integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
         integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
         integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
         integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
   </head>

   <body>
      <div class="container" style="margin-top: 15px;" id="app">
         <h4 class="text-center">Редактирование сценария</h4>
         <form method="post">
            <div class="was-validated">
               <!-- Название -->
               <div style="margin-top: 15px;">
                  <h5>Название</h5>
                  <input type="text" class="form-control" name="title"
                     :class="[ algorithm_data.title == '' || algorithms.includes(algorithm_data.title) ? 'is-invalid' : 'is-valid']"
                     v-model="algorithm_data.title" placeholder="Введите название сценария самодиагностики" required>
                  <div class="invalid-feedback" v-if="algorithm_data.title == ''">* Обязательное поле</div>
                  <div class="invalid-feedback" v-if="algorithms.includes(algorithm_data.title)">* Сценарий с таким названием уже существует</div>
               </div>

               <!-- Описание -->
               <div style="margin-top: 15px;">
                  <h5>Описание</h5>
                  <textarea type="text" name="description"
                     class="form-control text-justify" :class="[ algorithm_data.description != '' ? 'is-valid' : 'is-invalid']"
                     v-model="algorithm_data.description" placeholder="Введите описание сценария самодиагностики для пациента"
                     rows="5" required></textarea>
                  <div class="invalid-feedback"> * Обязательное поле </div>
               </div>

               <!-- Вопросы -->
               <div style="margin-top: 15px;">
                  <h5>Вопросы</h5>
                  <label>Кнопка будет закрашена, если все поля внутри заполнены</label>
                  <div class="container" v-for="question in algorithm_data.questions">
                     <div class="btn-group d-flex" role="group" style="margin-left: -15px; margin-right: -15px; margin-top: 5px;">
                        <button class="btn btn-block text-left" :class="[isFull('q', question.id-1) ? 'btn-secondary' : 'btn-outline-danger']" type="button" data-toggle="collapse"
                           :data-target="'#collapse-q' + question.id" aria-expanded="false" :aria-controls="'collapse-q'+question.id">
                        Вопрос {[ question.id ]}. {[ question.text ]}</button>
                        <button type="button" class="col-1 btn btn-outline-secondary" aria-label="Close" @click="del('q', question.id)">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>

                     <div class="collapse" v-bind:id="'collapse-q'+question.id" style="margin-left: -15px; margin-right: -15px; margin-top: 3px;">
                        <div class="card card-body">
                           <div class="was-validated">
                              <h6>Текст вопроса</h6>
                              <textarea type="text" :name="'q-' + question.id + '-text'"
                                        class="form-control text-justify" :class="[ question.text != '' ? 'is-valid' : 'is-invalid']"
                                        v-model="question.text" placeholder="Введите вопрос" required></textarea>
                              <div class="invalid-feedback">* Обязательное поле</div>

                              <div style="margin-top: 15px;">
                              <h6>Алгоритм</h6>
                              <div class="container" v-for="i in question.answers.length"  style="margin-left: -15px; margin-top: 15px;">
                                 <div class="form-row" >
                                    <div class="col-4">
                                       <label>Вариант ответа {[ i ]}</label>
                                       <input type="text" :name="'q-' + question.id + '-a-' + i" class="form-control" v-model="question.answers[i-1]" required>
                                       <div class="invalid-feedback">* Обязательное поле</div>
                                    </div>
                                    <div class="col-7">
                                       <label for="validationTooltip04">Если ответ "{[question.answers[i-1]]}" переход к</label>
                                       <select :name="'q-' + question.id + '-ns-' + i" class="custom-select" id="validationTooltip04" v-model="question.next_states[i-1]" required>
                                          <option selected disabled value="">Выберите шаг</option>
                                          <option v-for="q in algorithm_data.questions.length" v-if="q != question.id" :value="'q-' + q.toString()">вопросу {[q]}</option>
                                          <option v-for="r in algorithm_data.results.length" :value="'r-' + r.toString()">исходу {[r]} ({[ algorithm_data.results[r-1].title ]})</option>
                                          <option v-for="a in algorithms" >сценарию "{[ a ]}"</option>
                                       </select>
                                       <div class="invalid-feedback">* Обязательное поле</div>
                                    </div>
                                    <button type="button" class="btn col-1" aria-label="Close" @click="del('a', question.id, i)">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                 </div>
                              </div>
                            </div>
                            <div style="margin-top: 15px;">

                              <button type="button"  class="btn btn-outline-info" @click="add('a', question.id)">
                              Добавить вариант ответа
                              </button>
                            </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="btn-group" style="margin-top: 15px;">
                    <button type="button" class="btn btn-outline-info" @click="add('q', 0, true)" style="margin-top: 5px;">
                    Добавить вопрос в начало
                    </button>
                    <button type="button" class="btn btn-outline-info" @click="add('q', 0, false)" style="margin-top: 5px;">
                    Добавить вопрос в конец
                    </button>
                </div>
               </div>

               <!-- Исходы -->
               <div style="margin-top: 15px;">
                  <h5>Исходы</h5>
                  <label>Кнопка будет закрашена, если все поля внутри заполнены</label>
                  <div class="container" v-for="result in algorithm_data.results">
                     <div class="btn-group d-flex" role="group" style="margin-left: -15px; margin-right: -15px; margin-top: 5px;">
                        <button class="btn btn-block text-left" :class="[isFull('r', result.id-1) ? getButtonColor(result.color) : 'btn-outline-danger']" type="button" data-toggle="collapse"
                           :data-target="'#collapse-r' + result.id" aria-expanded="false" :aria-controls="'collapse-r' + result.id">
                        Исход {[ result.id ]}. {[ result.title ]}</button>
                        <button type="button" class="col-1 btn btn-outline-secondary" @click="del('r', result.id)">
                        <span aria-hidden="true">&times;</span>
                        </button>
                     </div>
                     <div class="collapse" v-bind:id="'collapse-r' + result.id" style="margin-left: -15px; margin-right: -15px; margin-top: 3px;">
                        <div class="card card-body">
                           <div class="was-validated">
                              <h6>Заголовок</h6>
                              <input type="text" :name="'r-' + result.id + '-title'"
                                     class="form-control" :class="[ result.title != '' ? 'is-valid' : 'is-invalid']"
                                     v-model="result.title" placeholder="Введите заголовок исхода" required>
                              <div class="invalid-feedback">* Обязательное поле</div>
                              <div style="margin-top: 10px;">
                                 <h6>Описание</h6>
                                 <textarea type="text" :name="'r-' + result.id + '-description'"
                                           class="form-control text-justify" :class="[ result.description != '' ? 'is-valid' : 'is-invalid']"
                                           v-model="result.description" placeholder="Введите описание проблемы и инструкции для пациента"
                                           rows="4" required></textarea>
                                 <div class="invalid-feedback">* Обязательное поле</div>
                              </div>
                              <div class="form-row" style="margin-top: 15px;" >
                                 <div class="col-6">
                                    <h6>Цвет</h6>
                                    <select v-model="result.color" :name="'r-' + result.id + '-color'" class="custom-select" id="validationTooltip04" required>
                                       <option selected disabled value="">Выберите цвет...</option>
                                       <option value="grey">Серый</option>
                                       <option value="green">Зеленый</option>
                                       <option value="yellow">Желтый</option>
                                       <option value="red">Красный</option>
                                    </select>
                                    <div class="invalid-feedback">* Обязательное поле</div>
                                 </div>
                                 <div class="col-6" >
                                    <label class="text-white">.</label>
                                    <div class="custom-control custom-checkbox mb-3" style="margin-top: 5px; margin-left: 15px;">
                                       <input class="form-check-input" type="checkbox" id="invalidCheck2" :name="'r-' + result.id + '-nw'" v-model="result.need_warn">
                                       <label for="invalidCheck2">Сообщать врачу</label>
                                    </div>
                                 </div>
                              </div>
                              <div v-if="result.need_warn" style="margin-top: 10px;">
                                 <h6>Сообщение для врача</h6>
                                 <textarea type="text" :name="'r-' + result.id + '-message'" class="form-control text-justify" :class="[ result.message != '' ? 'is-valid' : 'is-invalid']"
                                    v-model="result.message" placeholder="Введите текст сообщения, которое будет отправлено врачу"
                                    rows="4" required></textarea>
                                 <div class="invalid-feedback">* Обязательное поле</div>
                                 <div class="custom-control custom-checkbox mb-3" style="margin-top: 15px; margin-left: 15px;">
                                    <input class="form-check-input" type="checkbox" id="invalidCheck2" :name="'r-' + result.id + '-nr'" v-model="result.need_response">
                                    <label for="invalidCheck2">Требовать реакцию врача</label>
                                 </div>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <button type="button"  class="btn btn-outline-info" @click="add('r')" style="margin-top: 5px;">
                  Добавить исход
                  </button>
               </div>

               <!-- Ключевые слова -->
               <div style="margin-top: 15px;">
                 <h5>Ключевые слова и фразы</h5>
                 <textarea type="text" class="form-control" name="keywords"
                    v-model="algorithm_data.keywords" placeholder="Вводите ключевые фразы с новой строчки. Интеллектуальный агент будет искать их в сообщении пациента, чтобы предложить пройти этот сценарий."
                    rows="5"></textarea>
               </div>
               <!-- Кнопка сохранения -->
               <button type="submit" class="btn btn-block btn-info"  style="margin-top: 15px;">Сохранить</button>
            </div>
         </form>
         <form method="post">
           <input type="hidden" name="delete" value="true">
           <button type="button" class="btn btn-block btn-secondary" style="margin-top: 5px;" v-if="algorithm_data.can_delete" data-toggle="collapse"
              data-target="#collapse-del" aria-expanded="false" aria-controls="collapse-del">Удалить</button>
              <div class="collapse" id="collapse-del" style="margin-top: 3px;">
                 <div class="card card-body text-center">
                   <label>Вы уверены?</label>
                   <div class="text-center">
                   <button type="submit" class="btn btn-secondary" style="width: 200px;">Да</button>
                 </div>
                 </div>
               </div>
         </form>

         <!-- Кнопка возвращения -->
         <a href="/api/client/agents/{{ agent_id }}/?action=settings&contract_id={{ page_data['contract_id'] }}&agent_token={{ agent_token }}"
            class="btn btn-block btn-outline-info" style="margin-top: 15px;">Вернуться</a>
      </div>

      <script type="text/javascript">
         var app = new Vue({
         el: '#app',
         data: {{ page_data|tojson|safe }},
         methods:{
           add: function(type, id, first) {
             switch (type) {
               case 'q':
                 var q = {
                       id: first ? 1 : this.algorithm_data.questions.length + 1,
                       text: '',
                       answers: ['Да', 'Нет'],
                       next_states: ['','']
                     }
                 if(first){
                   this.algorithm_data.questions.unshift(q);
                   for (var i = 1; i < this.algorithm_data.questions.length; i++) {
                     this.algorithm_data.questions[i].id++;
                     for(var j = 0; j < this.algorithm_data.questions[i].next_states.length; j++){
                       state = this.algorithm_data.questions[i].next_states[j].split('-');
                       if(state[0] == 'q'){
                           this.algorithm_data.questions[i].next_states[j] = 'q-' + (parseInt(state[1]) + 1).toString();
                       }
                     }
                   }
                 }
                 else{
                   this.algorithm_data.questions.push(q);
                 }
                 break;
               case 'r':
                 var r = {
                   id: this.algorithm_data.results.length + 1,
                   title: '',
                   text: '',
                   color: '',
                   need_warn: false,
                   need_response: false,
                   message: ''
                 };
                 this.algorithm_data.results.push(r);
                 break;
               case 'a':
                 this.algorithm_data.questions[id-1].answers.push('');
                 this.algorithm_data.questions[id-1].next_states.push('');
                 break;
             }
           },
           del: function(type, id, index) {
             switch (type) {
               case 'q':
                 if (this.algorithm_data.questions.length > 1) {
                   this.algorithm_data.questions.splice(id-1,1);

                  for(var i = 0; i < this.algorithm_data.questions.length; i++){
                    if(i >= id-1){
                      this.algorithm_data.questions[i].id = i + 1;
                    }

                    for(var j = 0; j < this.algorithm_data.questions[i].next_states.length; j++){
                      state = this.algorithm_data.questions[i].next_states[j].split('-');
                      if(state[0] == 'q'){
                        if(parseInt(state[1]) == id){
                          this.algorithm_data.questions[i].next_states[j] = '';
                        } else if (parseInt(state[1]) > id) {
                          this.algorithm_data.questions[i].next_states[j] = 'q-' + (parseInt(state[1]) - 1).toString();
                        }
                      }
                    }
                  }
                 }
                 else {
                   alert('Невозможно удалить единственный вопрос!');
                 }
                 break;
               case 'r':
                 if (this.algorithm_data.results.length > 1) {
                   this.algorithm_data.results.splice(id-1,1);
                   for(var i = id-1; i < this.algorithm_data.results.length; i++){
                     this.algorithm_data.results[i].id = i + 1;
                   }
                 }
                 else {
                   alert('Невозможно удалить единственный исход!');
                 }
                 break;
               case 'a':
                 if (this.algorithm_data.questions[id-1].answers.length > 2) {
                   this.algorithm_data.questions[id-1].answers.splice(index-1,1);
                   this.algorithm_data.questions[id-1].next_states.splice(index-1,1);
                 }
                 else {
                   alert('Необходимо не менее двух вариантов ответа!');
                 }
                 break;
             }
           },
           isFull: function(type, index){
             switch (type) {
               case 'q':
                return this.algorithm_data.questions[index].text != '' &&
                   !this.algorithm_data.questions[index].answers.includes('') &&
                   !this.algorithm_data.questions[index].next_states.includes('');
               case 'r':
                return this.algorithm_data.results[index].title != '' &&
                  this.algorithm_data.results[index].description != '' &&
                  this.algorithm_data.results[index].color != '' &&
                  (this.algorithm_data.results[index].need_warn && this.algorithm_data.results[index].message != '' ||
                  !this.algorithm_data.results[index].need_warn);
             }
           },
           getButtonColor: function(color){
             switch (color) {
               case 'grey':
                return 'btn-secondary';
               case 'green':
                return 'btn-success';
               case 'yellow':
                return 'btn-warning';
               case 'red':
                return 'btn-danger';
             }
           }
         },
         delimiters: ['{[' , ']}']
         });
      </script>
   </body>
</html>
